@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(45deg, #ff6b6b, #f94d6a, #f37d85, #e94e77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.bg-gradient {
    background: rgb(251,73,181);
background: linear-gradient(90deg, rgba(251,73,181,1) 0%, rgba(221,36,118,1) 100%);
border: none;
color : white;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.112);

}

.bg-gradient:disabled {
 background: rgb(210, 210, 210);
}
.mynav {
    background: rgb(251,73,181);
    background: linear-gradient(90deg, rgba(251,73,181,1) 0%, rgba(221,36,118,1) 100%);
    border: none;
    color : white;
}

.mynav .links {
    color : black ;
    background-color: #fff7f9;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    padding-left: 10px;
    
}

.paste-button {
    flex-shrink: 0;
}

.hrh {
    background: rgb(251,73,181);
    background: linear-gradient(90deg, rgb(252, 252, 252) 0%, rgb(255, 255, 255) 100%);
}

.gradient-border {
    position: relative;
    border-radius: 2px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 252, 254) 100%);
    background: #ffffff;
    border: 0px solid rgba(255, 0, 60, 0.236);

  }

  
  .gradient-border::before {
    background: linear-gradient(20deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.02) , rgba(0, 0, 0, 0.1)  100%);
    opacity: 1;
  }
  .gradient-border::after {
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.02) , rgba(0, 0, 0, 0.1)  100%);
    opacity: 0;
  }
  .gradient-border:hover::before {
opacity: 0;
}
.gradient-border:hover::after {
    opacity: 1;
    }


  .list {

        list-style-type: "→  ";
        margin: 4px;
        padding-left: 20px;
  }

  .paste {
    box-sizing: border-box; /* Include border in the element's dimensions */

    height: calc(100% + 2px);
    padding: 0 16px;
    background-color: #000000;
    color: white;
    border-radius: 0 4px 4px 0;
    transform: translateX(2px);

  }


  .bg {
     position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background-color: #e94e77;
  }
  .my-input {
    box-sizing: border-box !important; /* Include border in the element's dimensions */
    border: 1px solid rgba(0, 0, 0, 0.264);
    background: rgb(255, 255, 255);
    position: relative; /* Moved here for correct stacking context */
    transition: 0.2s ease all;
    z-index: 50;
    outline: 0px solid rgba(255, 243, 243 , 1) ;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.052);


}

.my-input input {
    border: none;
    outline: none;
    background: none;
}


.my-input:focus-within {
border-color: rgb(251,73,181) ;
  /* box-shadow: 0px 2px 4px rgba(255, 110, 110, 0.775); */
}

.pr {
    z-index: 10;
}
.mybtn {
    border: none;
    box-shadow: none;
    position: relative;
    background-color: rgb(224, 148, 148);
    position: relative;
    border-radius:0px;
    background: rgb(96, 201, 246);
    /* border-bottom: 1px solid rgb(234, 234, 234); */


}
.mybtn:hover {
    background-color: #ebebeb;
}
/* .mybtn::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.00) 50% , rgba(0, 0, 0, 0.05)  100%);
    z-index: -1;
    border-radius: inherit;
} */

.ctr{
  box-sizing: border-box; /* Include border in the element's dimensions */
            border: 5px solid #ddff02;
            height: 200px; /* Adjust this to your desired height */
            display: flex; /* Flexbox allows better control of children elements */
            align-items: center; /* Ensure children elements stretch to full height */
}

.ctr button{
  box-sizing: border-box; /* Include border in the element's dimensions */
  height: calc(100% + 8px);
  margin: 0; /* Remove default margin */
  border: 1px solid #a33b3b; /* Button border */
  transform: translateX(-4px);
}

.alertt {
  border: 1px solid rgba(0, 0, 0, 0.26);
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.063);

}

.anim {
  position: absolute;
  height: 100%; width: 100%;
  background-color: #0000000d;
  top: 0;
  left: 0;
  z-index: 51;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease all;
}

.lott {
width: 40px;
}